body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(85,85,200,1) 35%, rgba(0,212,255,1) 100%);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 9em;
  color: #DCDCDC;
}

nav {
  background-color: #000060;   
}

nav#horz ul {
  list-style-type: none;
  padding-top: 15px;
  margin: 0;
  overflow: hidden;	
}

nav#horz ul li {
  display: inline-table;
  margin: 0 15px;	
}

nav#horz ul li a {
  display: block;
  background-color: #000060;
  color: white;
  font-weight: bold;
  text-decoration: none;
  width: 100px;
  padding: 10px 0px 30px 0px;
  border-radius: 4px;	
}

nav#horz ul li a:hover {
  background-color: #006699; 	
}

h2, p {
  color: #E0E0E0;	
}

ol {
  list-style-type: none;
  font-size: 105%;	 
  color: #D0D0D0;
}

#dancers {
  width: 55%;
  border-radius: 12px;	
  border: 2px solid #ddd;
  padding: 2px;
}

iframe {
  margin-bottom: 20px;
  width: 400px;	
  height: 220px; 
}